.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    gap: 10px;
    position: relative
}

.close-img {
    position: absolute;
    top: 3%;
    right: 5%;
}